services:
  app:
    container_name: app
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    volumes:
      - ./src:/var/www
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini
      - ./logs/php:/var/log/php
    networks:
      - laravel

  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./logs/nginx:/var/log/nginx
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    container_name: mysql
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: 'laravel_pass'
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - ./docker/mysql/default.cnf:/etc/mysql/conf.d/default.cnf
      - ./docker/mysql/data:/var/lib/mysql
      - ./logs/mysql:/var/log/mysql
    networks:
      - laravel

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./docker/redis/data:/data
      - ./logs/redis:/var/log/redis
    command: redis-server --appendonly yes
    restart: always
    networks:
      - laravel

networks:
  laravel:
    driver: bridge
